body { background-color: #9fc5e8;
       background-image: radial-gradient(#FFFFFF, #0000FF);
       background-image: url(images/olive.png);
       background-repeat:repeat-y;
       background-size:10% 10%;
       color: #FFFFFF; 
       margin: 20px; }
h1 { font-family: Georgia; 
     border-width: 4px;
     border-style: ridge;
     border-color: #0d4f88; }
h2 { font-family: Georgia; }
h3 { color: #00FFFF;
     color:hsla(210, 100%, 25%, 1.0);
     font-family: Verdana; 
     text-transform: uppercase; 
     text-decoration: underline; 
     font-weight: bold; }
p { font-family: Verdana; }

.ingredients { font-family: Verdana;
     float:left;
     width: 300px; }
.directions { font-family: Verdana;
     margin-left: 600px; }

#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%; }
a:link { color: #228B22; }
a:visited {color: #ff0000}
a:hover { text-decoration: none;
          color: #000066; }

@media (max-width: 768px) {

     .ingredients {width: 100%;
          float: none;}
     .directions {width: 100%;
          float: none;
          margin: 0;}
     body { background-color:#9fc5e8;
           background-image: url(images/olive.png);
           background-size: contain; 
           font-size: 14px;}
     img{ max-width: 100%;
          height: auto; }      
}